@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Young+Serif&display=swap');

.heading {
    font-family: 'Pixelify Sans', cursive;
}

.score-box {
    font-family: 'Young Serif', serif;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.quiz-box {
    background-color: rgba(44, 29, 58, 0.603);
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 0 auto;
    align-items: center;
    margin: 0 auto;
    padding-top: 100px;
    border-radius: 10px;


}

button {
    width: 30vw;
    height: 3rem;
    margin-bottom: 10px;

}

.score {
    font-size: 0.85rem;
}