@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Playpen+Sans&display=swap');

.heading {
    font-family: 'Pixelify Sans', cursive, Georgia;
    color: white;
    font-size: 5rem;
    margin-bottom: 60px;
}

body {
    font-family: 'Playpen Sans', cursive, Georgia;
    text-align: center;
    background-image: url("../images/image1.jpg");
    background-size: cover;
}

.answer {
    font-family: 'Playpen Sans', cursive, Georgia;
}

.quiz-box {
    background-color: rgba(209, 183, 221, 0.555);
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: auto;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 0 auto 95px auto;
}

.answer {
    width: 25vw;
    height: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(199, 206, 219);
    font-size: 20px;

}

.next {
    width: 20vw;
    height: 3rem;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(75, 23, 88);
    font-weight: bold;
    font-size: 15px;
    color: white;
}

#start {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 0 auto;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
}

.start-button {
    color: white;
    background-color: rgb(101, 48, 133);
    font-size: 30px;
    width: 20vw;
    height: 70px;
    border-radius: 100px;
}

#question {
    margin: 0 auto;
    font-size: 25px;
    padding-bottom: 20px;
}

.instructions {
    background-color: rgba(209, 183, 221, 0.555);
    width: 40vw;
    height: 0 auto;
    align-items: center;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 25px;
}

#finish {
    background-color: rgba(209, 183, 221, 0.555);
    width: 50vw;
    height: 0 auto;
    align-items: center;
    margin: 20px auto;
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 30px;
}

#play-again {
    color: white;
    background-color: rgb(101, 48, 133);
    font-size: 30px;
    width: 20vw;
    height: 70px;
    border-radius: 100px;
}

footer {
    color: white;
}

@media only screen and (max-width: 768px) {
    .heading {
        font-size: 3rem;
    }

    .quiz-box {
        width: 80vw;
        margin: 0 auto 220px auto;
    }

    .answer {
        width: 60vw;
    }

    .start-button {
        width: 60vw;
        margin: 100px auto;
    }

    .instructions {
        width: 40vw;
        font-size: 10px;
        font-size: 0.8rem;
    }

    footer {
        font-size: 1em;
    }
}